<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script src="https://code.highcharts.com/modules/series-label.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script src="vue/dist/vue.min.js"></script>
	<script src="https://rawgit.com/mholt/PapaParse/master/papaparse.js"></script>
	<script src="module/json2csv.js"></script>
	<!-- Additional files for the Highslide popup effect -->
	<script src="https://www.highcharts.com/media/com_demo/js/highslide-full.min.js"></script>
	<script src="https://www.highcharts.com/media/com_demo/js/highslide.config.js" charset="utf-8"></script>
	<link rel="stylesheet" href="https://www.highcharts.com/media/com_demo/css/highslide.css"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

</head>
	<div class="container">
		<body>
		<div class="jumbotron">
			<div id="app">
					<label for="JSON">JSON</label>
					<input type="radio" value="json" v-model="format" @click="check" name="format" required="">
					<label for="CSV">CSV</label>
					<input type="radio" value="csv" v-model="format" @click="check" name="format" required="">
					<form action="https://ehealth4everyone.egnyte.com/ul/ZrN7AJYtW2" method="POST">
						<input type="file" placeholder="Choose your file" v-model="testURL">
						<button>SUbmit</button>
					</form>
					<input type="textfield" v-model="myURL" @input="checkUrl" required="">
					<button @click="addUrl" >Plot Graph</button>
					<div v-if="checkFormat && format">
						<div v-if="checkFormat==='csv' && format==='csv'">
							<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
						</div>

						<div v-if="checkFormat==='json' && format==='json'">
							<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
						</div>
						<div v-else>
							<p>Not the correct format</p>
						</div>
					</div>
					<div v-if="text">
						<div v-if="text='Please select an option'">
							<div class="alert alert-warning alert-dismissable" role="alert">
								<div>
									<p>{{text}}</p>
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    								<span aria-hidden="true">&times;</span>
	 								</button>
 								</div>
							</div>
						</div>
						<div v-else>
							<div></div>
						</div>
					</div>
			</div>
		</div>
	
		</body>
	</div>
	<script src="./HighChartApp.js"></script>
</html>

